################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/ReadMe.txt
/.vs/PDFPageCacheDemo/v14
/PDFPageCacheDemo.VC.VC.opendb
/PDFPageCacheDemo.VC.db
